<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laminar.calculator.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Calculator - Build 0.1.8"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QFormula"
            android:label="@string/title_activity_qformula"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laminar.calculator.calculator.MainActivity" />
        </activity>
        <activity android:name=".ActivityCircle" />
        <activity android:name=".YoungsModulus" />
        <activity android:name=".activity_suvat" />
        <activity
            android:name=".v_uat_activity"
            android:label="@string/title_activity_v_uat_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sutat_activity"
            android:label="@string/title_activity_sutat_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".suvt_activity"
            android:label="@string/title_activity_suvt_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vuas_activity"
            android:label="@string/title_activity_vuas_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".svtat_activity"
            android:label="@string/title_activity_svtat_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeActivity"></activity>
    </application>

</manifest>